@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var token = HttpContextAccessor.HttpContext?.Request.Cookies["AuthToken"];
    var isLoggedIn = !string.IsNullOrEmpty(token);
    var isAdmin = false;

    if (isLoggedIn)
    {
        try
        {
            var handler = new System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler();
            var jwtToken = handler.ReadToken(token) as System.IdentityModel.Tokens.Jwt.JwtSecurityToken;
            var adminClaim = jwtToken?.Claims.FirstOrDefault(c => c.Type == "IsAdmin")?.Value;

            if (adminClaim != null && bool.TryParse(adminClaim, out bool isAdminClaim))
            {
                isAdmin = isAdminClaim;
            }
        }
        catch
        {
            isLoggedIn = false;
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Cooking Recipes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Cooking Recipes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    @if (isLoggedIn)
                    {
                        @if (isAdmin)
                        {
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-light me-2" asp-controller="Admin" asp-action="User">Manage Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-light me-2" asp-controller="Admin" asp-action="Category">Manage Categories</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="User" asp-action="EditProfile">Edit Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="User" asp-action="Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="User" asp-action="Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="User" asp-action="Login">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
